<!DOCTYPE html>
<html>
	<head>
		<title>Portfolio</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="cont">
			<div id="header">
				{{> header}}
			</div>
			<div id="nav">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="about.html">About</a></li>
					<li><a href="contact.html">Contact Us</a></li>
					<li><a class="active" href="/port">Portfolio</a></li>
				</ul>
			</div>
			<div id="main">
				<p>
					My GitHub Profile Link

				</p>
			</div>
			<div id="side">
				<h3>Side</h3>
				<p>
					Academic Achivements
					
				</p>
			</div>
			<div class="clear"></div>
			<div id="foot">
				{{> footer}}
			</div>
		</div>
	</body>
</html>